.position {

	padding:20px;
	background:#4E6D2A;
	font-size:20px;
	color:#fff;

}
#txt{
width:95%;
height:30px;
}

#agregar{

  padding:20px;
	background:#4E6D2A;
	font-size:12px;
	color:#fff;
width:35%;
height:10px;

}
#new{

	background:#4E6D2A;

	color:#fff;
  height:70px;
    width:35%;



}
#h8{
  background:#4E6D2A;

  color:#fff;
}


#padre{


   flex-direction: column;
}
body {

background-image: url("../img/t.jpg");
height: 100%;
margin: 0;
padding: 0;

}
.cuadro {

height:150px;
  width:35%;
background:#00ffff;


}
.botonfondo{



		width:705%;
		height: 300%;
}
.principal{

	  width:7005%;
		height: 200%;
padding-left:150px;
}
.contenedor{

   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;


   justify-content: space-around;

}



#map {

	height:150px;
	  width:35%;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}
